/* define color palette */
:root {
    --primary-color: #023047;
    --secondary-color: #8ecae6;
    --tertiary-color: #606c38;
    --accent-color: #d33f49;
    --highlight-color: #ffba49;
    --background-color: #e8dab2;
}
h1 {
    font-size: 1.5em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--primary-color);
    padding: 20px;
}
.container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 40px;
    font-family: Arial, sans-serif;
    font-size: 17px;
}
/* Navigation bar */
.topnav {
    background-color: var(--primary-color);
    overflow: hidden;
}
.topnav a { /* Style the links inside the navigation bar */
    float: left;
    color: var(--background-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, sans-serif;
}
.topnav a:hover { /* Change the color of links on hover */
    background-color: var(--highlight-color);
    color: black;
}
.topnav a.active { /* Add a color to the active/current link */
    background-color: var(--tertiary-color);
    color: var(--background-color);
}
/* For line graph */
.line {
    fill: none;
    stroke: var(--primary-color);
    stroke-width: 2px;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
.previous {
  background-color: var(--primary-color);
  color: var(--background-color);
}
.next {
  background-color: var(--primary-color);
  color: var(--background-color);
}
a:hover {
  background-color: var(--highlight-color);
  color: var(--primary-color)
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}